@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fontline {
    0% {
        left: -14509px;
        top: auto;
    }
    100% {
        left: 100%;
        top: auto;
    }
}