@font-face {
    font-family: "Mod-Normal";
    src: url("fonts/Mod-Normal.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Chava-Regular";
    src: url(../fonts/Chava-Regular.otf) format("opentype");
}

