@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) { 
    body { min-width: 320px;
	}

    section {
        display: flex;
        flex-wrap: wrap;
    }

    .block {
        width: 25vw;
        height: 25vw;
        overflow: hidden;
    }

    .block_x2 {
        width: calc(25vw*2);
        height: 25vw;
    }

    h1 {
        font-size: 35vw;
    }

    p {
        font-size: 4vw;
    }

    .line_first {
        height: 12.5vw;
        top: 0vw;
    }    

    .line_first {
        height: 25vw;
    }
    

    .line_literal {
        top: -6vw;
    }

    .line_second {
        height: 25vw;
        top: 25vw;
    }

    .line_battle {
        top: -6vw;
    }

    .line_third {
        width: calc(25vw*4);
        height: 25vw;
        top: 50vw;
        overflow-x: hidden;
    }

    .container_line_yellow {
        width: 180vw;
        height: 25vw;
    }

    .line_yellow {
        height: 100%;
        width: 100%;
    }

    @keyframes line_yellow {
        0% {
            left: -250px;
        }
        100% {
            left: 20px;
        }
    }

    .line_blue {
        height: 60vw;
    }

    .line_blue_vertical {
        width: 25vw;
        height: 50vw;
        top: 125vw;
        right: 0vw;
    }

    .line_fourth {
        display: none;
    }
    
    #literal1 {
        width: 25vw;
        height: 25vw;
    }

    #literal29 {
        width: 15vw;
        height: 15vw;
    }

    .sixth .block img {
        width: 15vw;
        height: 15vw;
    }

    #literal21 {
        width: 25vw;
        height: 25vw;
    }

    #literal4 {
        width: 25vw;
        height: 25vw;
    }
    
    .literal32 {
        width: 10vw;
        height: 10vw;
    }

    .sixteenth img {
        height: 12vw;
    }

    .fifteenth .block img {
        height: 10vw;
    }

    .literal24 {
        bottom: 125vw;
        right: 0vw;
        left: auto;
    }

    /* скрываем последние 4 блока в секции */
    .first .block:nth-of-type(4) {
        display: none;
    }
    .first .block:nth-of-type(5) {
        display: none;
    }
    .first .block:nth-of-type(6) {
        display: none;
    }
    .first .block:nth-of-type(7) {
        display: none;
    }
    .first .block:nth-of-type(8) {
        display: none;
    }

    .second .block:nth-of-type(5) {
        display: none;
    }
    .second .block:nth-of-type(6) {
        display: none;
    }
    .second .block:nth-of-type(7) {
        display: none;
    }
    .second .block:nth-of-type(8) {
        display: none;
    }
    
    .third .block:nth-of-type(5) {
        display: none;
    }
    .third .block:nth-of-type(6) {
        display: none;
    }
    .third .block:nth-of-type(7) {
        display: none;
    }
    .third .block:nth-of-type(8) {
        display: none;
    }

    .eleventh .block:nth-of-type(5) {
        display: none;
    }

    .thirteenth .block:nth-of-type(3) {
        display: none;
    }

    .thirteenth .block:nth-of-type(4) {
        background-color: #F5F747;
    }

    .fourteenth {
        flex-direction: row-reverse;
    }

    .fourteenth .block:nth-of-type(4) {
        display: none;
    }

    .fifteenth .block:nth-of-type(1) {
        display: none;
    }
    .fifteenth .block:nth-of-type(2) {
        display: none;
    }
    .fifteenth .block:nth-of-type(3) {
        display: none;
    }
    .fifteenth .block:nth-of-type(4) {
        display: none;
    }

    .fourth {
        display: none;
    }

    .sixth .block:nth-of-type(5) {
        display: none;
    }

    .twelfth {
        display: none;
    }

    

}

@media screen and (max-with: 767px) and (orientation: portrait){
    body {
		display: flex;
        flex-wrap: wrap;
	}

    .block {
        width: 25vw;
        height: 25vw;
        overflow: hidden;
    }
}